.bubble_right {
  position: relative;
  display: inline-block;
  max-width: 240px;
  padding: 12px 18px;
  background-color: #0067ac; /* 말풍선 색 */
  color: #fff;
  font-size: 14px;
  line-height: 1.4; /* 줄 간격 */
  border-radius: 22px 2px 22px 22px;
}

/* 전송 시각 표시 */
.time {
  margin-top: 4px;
  font-size: 11px;
  color: #999;
  line-height: 1;
  white-space: nowrap; /* 줄바꿈 금지 */

  position: relative; /* 위치 조정 */
  top: 15px;
}
