<link rel="stylesheet" href="bubble.css" />

<div class="chat">
  <div class="msg_left">
    <div class="msg_meta">
      <div class="msg_badge">
        <span class="msg_badge-icon" aria-hidden="true">💬</span>
      </div>
      <span class="msg_badge-text">Livechat</span>
    </div>

    <div class="msg_row">
      <div class="bubble_left">안녕하세요 !</div>
      <span class="time">02:12 PM</span>
    </div>
  </div>

  <div class="msg_right">
      <span class="time">02:12 PM</span>
      <div class="bubble_right">예금 상품 추천해줘.</div>
  </div>
</div>
